


 <h2 class="title-2 uppercase m-l-30"><strong> <i class="ion-ios-paper-outline fa-2x text-inverse"></i> New Echo</strong></h2>


<%= render 'form', echo: @echo %>

<%# link_to 'Back', echos_path %>
