<span class="">

	<div class="col-lg-4 col-md-8">

	<% if company.companylogo %>
        <%= link_to (image_tag(company.companylogo.url(:medium), :class => "fw img-responsive", :alt =>"company logo")), company_path(company) %>


        <% else %> 
        <%# link_to (image_tag("login-bg/bg-3.jpg", :class => "img-responsive img-h", :alt =>"event image")), event_path(event) %>

        

        <%= link_to (image_tag("http://via.placeholder.com/405x285", :class => "fw img-responsive", :alt =>"company logo")), company_path(company) %>


       <% end %>

   </div>
       <br>

       <p class="mt"><i class="fa fa-fw fa-briefcase fa-2x mr-sm" style="color:#7D8990; font-size: 20px;"></i><span class="profile-nav-txt-bold m-b-20"><%= link_to truncate(company.name, :length => 20), company_path(company), :class => "" %> &nbsp; </span></p>




	  

</span>
