gggggg

     <p class="mt"><i class="fa fa-fw fa-briefcase fa-2x mr-sm" style="color:#7D8990; font-size: 20px;"></i><span class="profile-nav-txt-bold m-b-20"><%= link_to truncate(company.name, :length => 20), company_path(company), :class => "" %> &nbsp; </span></p>